.table {
    text-align: justify;
}

.td-btn {
    width: 5%;
}

.fa-edit {
    color: white;
}

.panzotti-nav {
    background: #282828;
}

.panzotti-color {
    color: #ffffff;
}

.panzotti-card{
    background: #fafafa;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}

.overflow{
    overflow: hidden;
}

.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
}

.cantidad{
    color: rgb(194, 194, 194);
}

.red{
    color:#F44336;;
}


.yellow{
    color: #FFC107;
}
  

